<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.4-beta
    </div>
    <strong>This website uses <a href="https://adminlte.io">AdminLTE</a> and <a href="https://boostrap.com">Boostrap</a>. Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://ryansprogramming.com/">deathkiller12234#1893</a>.</strong> 
</footer>